<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/table.css}" rel="stylesheet">
	<title>新規投稿画面</title>
</head>
<body>
<h1>minimum掲示板</h1>
    <h3>新規投稿入力フォーム</h3>
	<form method="post" action="/add" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>投稿内容</th>
				<td><input type="text" name="content"th:value="*{content}" size="150" maxlength="70" /></td>
				<td><input type="submit" value="投稿" /></td>
			</tr>
		</table>
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>